/*---------------------HEADER-----------------------------------------------------------------------------------------*/


header .my-nav{background-color: #2f312e;}/*COLOR DE FONDO NAVBAR*/
header .my-nav .navbar-brand{margin-left: 02%; color: #f3ed17;}/*LE DOY UN MARGEN A NB ELECTRONICA Y COLOR*/
header .my-nav .navbar-brand:hover{color: white;}/*COLOR DE NB ELECTRONICA CUANDO PASO CON EL MOUSE*/
header .my-nav .nav-link{color: grey;}/*COLOR DEL MENU CUANDO NO ESTA ACTIVO*/
header .my-nav .nav-link:hover{color: white;}/*COLOR DEL MENU CUANDO PASO CON EL MOUSE*/
header .my-nav .active{color: white;} /*COLOR DEL MENU CUANDO ESTA SELECCIONADO*/
header .my-nav .fa-battle-net{margin-right: 06%;}/*LE DOY MARGEN ENTRE EL ICONO Y NB ELECTRONICA*/


/*Agrego el botón del navbar porque al editar los colores se oculta*/
.custom-toggler.navbar-toggler{border-color: white;}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*Separo un poco los botones del menu*/
header  .home .navbar-nav{margin-left:  2.5%;} 

header .login .navbar-nav{margin-left: 1.8%;}

header .admin .navbar-nav{margin-left: 4.5%;}

/*Le doy color a los items del dropdowm Productos cuando pasa el mouse por arriba*/
.dropdown-item:hover{
	background-color: #2f312e;
	color: #f3ed17;
}	

/*-----------------FIN HEADER-----------------------------------------------------------------------------------------*/



/*-----------------INICIO DE SESIÓN----------------------------------------------------------------------------------*/
.modal-header h4{
	margin-left: 24%;
	color: yellow;
}

.modal-body .container form{
	padding-top: 0px;
	margin-top: 0px;
}

.modal-content{
	background-color: #f2f2f2;
	border-radius: 14px;
	
}


.modal-header{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #404040;
}

.regis{
	margin-left: 10%; 
}

/*---------------FIN INICIO DE SESIÓN-------------------------------------------------------------------------------*/



/*-----------------CAROUSEL------------------------------------------------------------------------------------------*/

/*Defino el tamaño de las imagenes*/
.img-responsive{
	min-height: 200px;
	max-height: 600px;
}
/*Subo el carousel contra el navbar y defino el ancho*/
 .carousel-1{margin-top: 0px;
 	margin-left: 5%;
 	margin-right: 5%;
 }

.carousel-indicators{margin-bottom: 1%;}/*Le doy un margen a los indicadores*/

/*Cambio el color a los indicadores y los separo un poco entre ellos*/
.carousel-indicators li{
	background-color: #ecf42a;
	margin-left: 2%;
}
/*-----------------FIN CAROUSEL--------------------------------------------------------------------------------------*/




/*-----------------BARRA NOVEDADES-----------------------------------------------------------------------------------*/
.breadcrumb{
	background-color:  #2f312e;
	margin-left: 4.8%;
	margin-right: 4.8%;	
	margin-top: 2%;
	margin-bottom: 0px;
	height: 55px;
	display: block;
    text-align: center;
}

.breadcrumb h3{color: #f3ed17;}
.breadcrumb h3:hover{color: white;}

/*-----------------FIN BARRA NOVEDADES-----------------------------------------------------------------------------------*/




/*-----------------ARTÍCULOS---------------------------------------------------------------------------------------------*/

.productos .card-body{	height: 180px;} /*DEFINO LA ALTURA DEL PRODUCTO*/


/*LE DOY FORMA Y COLOR AL CONTENEDOR DEL PRODUCTO*/
.productos .card{							
	background-color: #2f312e;
	border-width: 6px;
	border-radius: 5px;
}

/*LE SACO LOS MARGENES AL CONTENEDOR DE TODOS LOS PRODUCTOS*/
.productos .album .row{
	margin-right: 0px;
	margin-left: 0px;
	
}

.productos .album{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.productos .card-body h5{color: white;
	height: 60px;} /*LE DOY COLOR AL NOMBRE DEL PRODUCTO Y TAMAÑO*/
.productos .card-body p{color: white;} /*LE DOY COLOR AL PRECIO*/

/*LE DOY COLOR AL PRODUCTO RESALTADO*/
.productos .coll:hover .card-body{
	box-shadow: 0 3px 5px 0 rgba(255,233, 0, 1), 0 8px 15px 0 rgba(255, 255, 0, 1);
	border-radius: 5px;
	margin-bottom: 0px ;
}
/*LE DOY COLOR AL NOMBRE DEL PRODUCTO RESALTADO */
.productos .coll:hover .card-body h5{
	color: #f3ed17;
	text-decoration: underline #2f312e;/*SACO EL SUBRRAYADO, POR DEFECTO ME HACE UNO EN COLOR AZUL*/
}

.productos .card-body h5{
	font-weight: lighter;
	font-style: italic;
}

/*LE DOY MARGEN AL CONTENEDOR DE LOS PRODUCTOS*/
.productos .cont-novedades{
	padding-right: 3.7%;
	padding-left: 3.7%;
}


/*EDITO EL BOTÓN AGREGAR AL CARRITO*/
.productos .card-body .fa-cart-plus{
	font-size: 140%;
	width: 30px;
	color: #f3ed17;
}
/*EDITO EL BOTÓN COMPRAR*/
.productos .card-body .btn{
	color: #f3ed17;
	border-color: grey;
	  }

.productos .card-body .btn:hover{
	background-color: grey;
	color: #f3ed17;
}

/*--------------FIN ARTÍCULOS-------------------------------------------------------------------------------------------*/




/*--------------FOOTER--------------------------------------------------------------------------------------------------*/

.footer p{
	margin-bottom: 0px;
	color: white;
}
/*LE DOY MARGEN A LA IMAGEN PARA QUE ME QUEDDE CENTRADA*/
.footer img{margin-left: 60px;}


/*--------------FIN FOOTER----------------------------------------------------------------------------------------------*/


/*--------------REGISTRO DE USUARIO-------------------------------------------------------------------------------------*/
.registro form {
	margin-top: 20px;
}

/*LE DOY FORMATO AL FONDO DEL FORMULARIO*/
.registro .tumb {
	padding-top: 0px;
	margin-top: 50px;
	border-radius: 10px;
	margin-left: 20px;
	background-color:  #2f312e;
}

/*LE DOY FORMATO AL TITULO DEL FORMULARIO */
.registro .tumb h4 {
	text-align: center;
	color: white; 
	padding-top: 20px;
	font-weight: lighter;
	font-style: italic;	
}

/*CENTRO LOS BOTONES*/
.registro .botones
{	
	display: inline-block;
	margin-top: 15px;
	margin-left: 22%;
}

.registro .btn-primary{
	margin-left: 20px;
}

.registro .boton {
	padding-left: 20px;
	padding-right:20px;

}
/*LE DOY FORMATO A LA IMAGEN*/
.registro .imgreg{
	margin-top: 3px;
	margin-left: 3%;
	margin-top: 20%;
	max-height: 800px;
	max-width: 500px;
	border-radius: 20px;
}

/*SEPARO UN POCO EL CONTENEDOR DEL FOOTER*/
.registro .container{
	margin-bottom: 20px;
}



/*--------------FIN REGISTRO DE USUARIO---------------------------------------------------------------------------------*/

/*--------------PAGINACIÓN----------------------------------------------------------------------------------------------*/
.pagination .page-link{
	color: yellow; 
	border-color: black;
	background-color: #2f312e;
}

.pagination .activo .page-link{
	background-color: grey;
}

.pagination .page-link:hover{
	color: yellow; 
	border-color: black;
	background-color: grey;
}
.pagination{
	margin-bottom: 40px;
	position: relative;
}

/*--------------FIN PAGINACIÓN------------------------------------------------------------------------------------------*/

/*--------------CONTACTO------------------------------------------------------------------------------------------------*/

.contacto {
	margin-bottom: 6%;
}

.contacto form {
	margin-top: 20px;
}

/*LE DOY FORMATO AL FONDO DEL FORMULARIO*/
.contacto .tumb {
	padding-top: 0px;
	margin-top: 70px;
	border-radius: 10px;
	margin-left: 20px;
	background-color:  #2f312e;

}

/*LE DOY FORMATO AL TITULO DEL FORMULARIO */
.contacto .tumb h4 {
	text-align: center;
	color: white; 
	padding-top: 20px;
	font-weight: lighter;
	font-style: italic;	
}

/*CENTRO LOS BOTONES*/
.contacto .botones-consulta
{	
	display: inline-block;
	margin-top: 15px;
	margin-left: 20%;
}

.contacto .btn-primary{
	margin-left: 20px;
}

.contacto .boton-cancelar {
	padding-left: 20px;
	padding-right:20px;
}

.contacto .boton-enviar {
	padding-left: 30px;
	padding-right:30px;
}

/*SEPARO UN POCO EL CONTENEDOR DEL FOOTER*/
.contacto .container{
	margin-bottom: 20px;
}
/*Le doy color al label Consulta*/
.contacto .form-group label{
	color: white;
}

/*LE DOY FORMATO AL MAPA Y LO CENTRO*/
.contacto .mapa iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;


}

.contacto .mapa{
overflow:hidden;
padding-bottom:60%;
position:relative;
height:0;
}

/*LE DOY FORMATO AL CONTENEDOR DEL MAPA*/
.contacto .card{
	margin-top: 17%;
	background-color:#2f312e;
	border-radius: 10px;
	margin-left: 4%; 
}
/*LE DOY FORMATO AL NOMBRE ARRIBA DEL MAPA*/
.contacto .card h3{
	padding-top: 5px;
	text-align: center;
	color: white;
	font-weight: lighter;
	font-style: italic;	
}

.contacto .card-body{
	padding-top: 0px;
}

/*--------------FIN CONTACTO--------------------------------------------------------------------------------------------*/

/*--------------MIS DATOS-----------------------------------------------------------------------------------------------*/
.modificar{
	padding-left: 15px;
	padding-right: 15px;
}

.cancelarmodificar{
	padding-left: 18px;
	padding-right: 18px;
}

.misDatos form {
	margin-top: 20px;
}

/*LE DOY FORMATO AL FONDO DEL FORMULARIO*/
.misDatos .tumb {
	padding-top: 0px;
	margin-top: 60px;
	margin-bottom: 50px;
	border-radius: 10px;
	background-color:  #2f312e;
}

/*LE DOY FORMATO AL TITULO DEL FORMULARIO */
.misDatos .tumb h4 {
	text-align: center;
	color: white; 
	padding-top: 20px;
	font-weight: lighter;
	font-style: italic;	
}

/*CENTRO LOS BOTONES*/
.misDatos .botones
{	
	display: inline-block;
	margin-top: 15px;
	margin-left: 25%;
}

.misDatos .btn-primary{
	margin-left: 20px;
}


/*SEPARO UN POCO EL CONTENEDOR DEL FOOTER*/
.misDatos .container{
	margin-bottom: 20px;
}
/*--------------FIN MIS DATOS-------------------------------------------------------------------------------------------*/


/*--------------MIS COMPRAS---------------------------------------------------------------------------------------------*/

/*Doy formato a los titulos de la tabla*/
.misCompras th{
	font-style: italic;
	color: #f3ed17;
}

.misCompras td{
	color: white;
}

.misCompras td a{
	color: white;
}

.misCompras td a:hover{
	color: #f3ed17;
}

.misCompras form {
	margin-top: 20px;
}

/*LE DOY FORMATO AL FONDO DEL FORMULARIO*/
.misCompras .tumb {
	padding-top: 0px;
	margin-top: 45px;
	border-radius: 10px;
	background-color:  #2f312e;
	margin-bottom: 20px;
}

/*LE DOY FORMATO AL TITULO DEL FORMULARIO */
.misCompras .tumb h4 {
	text-align: center;
	color: white; 
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: lighter;
	font-style: italic;	
}

/*SEPARO UN POCO EL CONTENEDOR DEL FOOTER*/
.misCompras .container{
	margin-bottom: 30px;
}


/*--------------FIN MIS COMPRAS-------------------------------------------------------------------------------------------*/


body {
	background-color: #e0e0e0;
	}

